<h3>Projects</h3>
<div id="createBtnHolder">
    <a href="#home/Projects/Create" class="btn"  id="top-bar-createBtn">Create</a>
</div>
<div id="saveDiscardHolder" style="display: none">
    <button id="top-bar-saveBtn" >Save</button> or <button id="top-bar-discardBtn">Discard</button>
</div>

<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="#" class="changeContentIndex icon2 icon-btn dark" data-shift="left" id="leftBtn">(</a></li>
        <li><a href="#" class="changeContentIndex icon2 icon-btn dark" data-shift="right" id="rightBtn">)</a></li>
    </ul>
    <ul class="btn-list">
        <li><a href="#" class="changeContentView icon icon-btn dark <%= (viewtype == 'list') ? 'selected' : ''%>" data-view-type="list" id="listBtn">i</a></li>
        <li><a href="#" class="changeContentView icon icon-btn dark <%= (viewtype == 'thumbnails') ? 'selected' : ''%>" data-view-type="thumbnails" id="thumbBtn">k</a></li>
        <li><a href="#" class="changeContentView icon icon-btn dark <%= (viewtype == 'form') ? 'selected' : ''%>" data-view-type="form" id="formBtn">m</a></li>
        <li><a href="#" class="changeContentView icon2 icon-btn dark <%= (viewtype == 'gantt') ? 'selected' : ''%>" data-view-type="gantt" id="ganttBtn">y</a></li>
    </ul>
</div>