<div class="form-holder">
    <form class="form">
        <h1><%=projectname%></h1>
        <div class="half-block left">
	        <p>
	            <label for="projectmanager">Project Manager</label>
	            <%=projectmanager.uname%>
	        </p>
	        <p>
	            <label for="workflow">Workflow Status</label>
	            <%=workflow.status%>
	        </p>
	        <p>
	            <label for="privacy">Privacy / Visibility </label>
	            <%=privacy%>
	        </p>
		</div>
    </form>
</div>
