<h2>Login</h2>
<div >
    <form id="loginForm">
        <fieldset>
            <legend>Credentials</legend>
            <label>Login: <input id="login" type="text" placeholder="Login" value="romashka50"/> </label>
            <label>Password: <input id="password" type="password" placeholder="Password" value="123456789"/> </label>
            <input type="submit" value="Login"/>
            <div id="response"></div>
        </fieldset>
    </form>
</div>

<!--
<div >
    <form id="loginForm">
        <input id="login" type="text" placeholder="Login" value="romashka50"/>
        <input id="password" type="password" placeholder="Password" value="123456789"/>
        <input type="submit" value="login"/>
        <div id="response"></div>
    </form>
</div>-->
