<div class="form-holder">
    <form class="form" id="employeeForm">
        <h2><%=name%></h2>
        <p>
            <label>Work Email </label>
            <span>
                <a href="mailto:<%=wemail%>" target="_blank"><%=wemail%></a>

            </span>
        </p>
        <p>
            <label>Work Phone </label>
            <span><%=wphones.phone%></span>
        </p>
        <p>
            <label>Office Location </label>
            <span><%=officeLocation%></span>
        </p>
        <p>
            <label>Department </label>
            <span><%=department.departmentName%></span>
        </p>
        <p>
            <label>Job </label>
            <span><%=job.jobPositionName%></span>
        </p>
    </form>
</div>
